<div class="centered-content">
    <div class="modal-box">
      <h1 class="title">
        Crée un nouveau responsable
      </h1>
  
      <input #usernameInput class="input has-background-light is-medium" type="text" placeholder="Entrer le nom d'utilisateur...">
      <br><br>
      <input #passwordInput class="input has-background-light is-medium" type="text" placeholder="Entrer le mot de passe...">
      <br><br>
      <div class="buttons is-right">
        <button class="button is-medium" routerLink="/users-management">Cancel</button>
        <button class="button is-primary has-text-white is-medium" (click)="createUser(usernameInput.value,passwordInput.value)" >Create</button>
      </div>
  
      
    </div>
  </div>