<div class="centered-content">
    <div class="modal-box">
      <h1 class="title">
        Modifier une ressource
      </h1>
  
      <input #ressourceTitleInput class="input has-background-light is-medium" type="text" value="{{Ressource.title}}">
      <br><br>
      <input #ressourcelocalisationInput class="input has-background-light is-medium" type="text" value="{{Ressource.localisation}}">
      <br><br>
      <div class="buttons is-right">
        <button class="button is-medium" [routerLink]="['/ressources', RessourceId]">Cancel</button>
        <button class="button is-primary has-text-white is-medium" (click)="UpdateRessource(ressourceTitleInput.value,ressourcelocalisationInput.value)" >Sauvegarder</button>
      </div>
  
      
    </div>
  </div>