<div class="centered-content">
    <div class="modal-box">
      <h1 class="title">
        Rapporter une anomalie pour la ressource : "{{ressource.title}}"
      </h1>
      <h3>Liste d'anomalie déja saisie :</h3>
      <div class="select is-info has-background-light is-medium">
        <select #descriptionInput [(ngModel)]="selectedOldTask">
          <option *ngFor="let desc of descriptions" [value]="desc.title">{{desc.title}}</option>
        </select>
      </div>
      <br><br>
      <h3>Description de l'anomalie :</h3>
      <input #taskTitleInput class="input has-background-light is-medium" type="text" placeholder="Description de l'anomalie..." value="{{selectedOldTask}}">
      <br><br>
      <fieldset disabled>
      <h3>Localisation :</h3>
      <input #tasklocalisationInput class="input has-background-light is-medium"  value="{{ressource.localisation}}">
      <br><br>
      </fieldset>
      <!-- <div class="select is-info has-background-light is-medium">
        <select #tasklocalisationInput >
          <option >choisiser la localisation</option>
          <option *ngFor="let loc of localisations" >{{loc.localisation}}</option>
        </select>
      </div> -->
      <div class="buttons is-right">
        <button *ngIf="connected != null" class="button is-medium" routerLink="/ressources">Annuler</button>
        <button class="button is-primary has-text-white is-medium" (click)="createTask(taskTitleInput.value)" >Rapporter</button>
      </div>
  
      
    </div>
  </div>