<div class="centered-content">
    <div class="modal-box">
      <h1 class="title">
        Modifier une Anomalie
      </h1>
  
      <input #taskTitleInput class="input has-background-light is-medium" type="text" value="{{Task.title}}">
      <br><br>
      <fieldset disabled>
      <input #tasklocalisationInput class="input has-background-light is-medium" type="text" value="{{localisations}}">
    </fieldset>
      <br><br>
      <div class="buttons is-right">
        <button class="button is-medium" [routerLink]="['/ressources', RessourceId]">Cancel</button>
        <button class="button is-primary has-text-white is-medium" (click)="updateTask(taskTitleInput.value)" >Sauvegarder</button>
      </div>
  
      
    </div>
  </div>